body {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 1em;
	margin-left: auto;
	background-color: hsla(0, 0%, 18%, 1.0);
}

.container {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	justify-content: center;
}

h1 {
	font-family:  "Lucida Console", "Courier New", monospace;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	color: hsla(84, 100%, 33%, 1.0);
	padding-top: 10px;
	order: 1;
}

form {
	width: 58%;
	order: 2;
	margin: auto;
	font-size: 1.25em;
	background-color: hsla(84, 100%, 33%, 1.0);
	color: hsla(84, 100%, 33%, 1.0);
}

fieldset {
	background-color: hsla(84, 100%, 33%, 1.0);
	color: hsla(0, 0%, 18%, 1.0);
	border-style: none;
	border-radius: 10px 20px 10px 20px;
 }

legend {
	background-color: hsla(0, 0%, 18%, 1.0);
	color: hsla(84, 100%, 33%, 1.0);
	padding: 5px;
	margin: 15px;
	border-radius: 10px 15px;
	font-size: .55em;
}

button #submit, button #clear {
	margin-left: auto;
	padding: 5px;
	background-color: hsla(84, 100%, 33%, 1.0)
}

#description {
	padding-bottom: 10px;
	text-align: center;
	font-size: 1.45em;
	font-weight: lighter;
	color: hsla(84,100%, 33%, 1.0);
}

select .dropdown {
	display: inline-block;
	background-color: hsla(84, 100%, 33%, 1.0);
}

.form-row {
	display: inline-block;
	border-style: none;	
	margin: 10px;
	width: 100%;
	font-size: .85em;
}

.form-questions {
	display: inline-block;
	margin: 0px auto;
	vertical-align: top;
	text-align: right;
	width: 45%;
}

.form-response {
	display: inline-block;
	margin: 0px auto;
	text-align: middle;
}

.form-response textarea {
	background-color: hsla(0, 0%, 18%, 1.0);
	color: hsla(84, 100%, 33%, 1.0);	
}

.form-response select {
	background-color: hsla(0, 0%, 18%, 1.0);
	color: hsla(84, 100%, 33%, 1.0);
}

.form-response input {
	color: hsla(84, 100%, 33%, 1.0);
	background-color: hsla(0, 0%, 18%, 1.0);
	border: none;
}

.form-response input[type=checkbox] {
	background-color: hsla(84, 100%, 33%, 1.0);
}
.form-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	width: 45%;
	vertical-align: top;
}

.formbtn {
	background-color: hsla(0, 0%, 18%, 1.0);
	border: none;
	border-radius: 15px;
	margin: 0 auto;
	padding: 10px 20px;
	display: inline;
	color: greenyellow;
	/* color: hsla(84, 100% 33%, 1.0); */
}